$color-white: #ffffff;

$color-black: #000000;
$color-black_one: #343434;

$color-grey: #F1F1F1;
$color-grey_one: #656565;
$color-grey_two: #C8C8C8;
$color-grey_tow: #A0A0A0;
$color-grey_dark: #646464;

$color-green: #54A056;
$color-green_one: #42BF2D;
$color-green_two: #C5FFC34D;
$color-green_three: #2DC653;
$color-green_four: #004923;

$color-red: #ff0000;